/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.sidenav {
    height: 100%;
    width: 65px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 30px;
}
.logo_icon .img-fluid {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    margin-left: 4px;
}
#nav_li li {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    align-self: center;
    letter-spacing: 1.5px;
    padding: 25px 0px 6px 13px;
    word-break: keep-all !important;
}

.sidenav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.sidenav #nav_li {
    position: relative;
}
.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #003f5a;
    display: block;
}
.sidenav a:hover {
    color: #da8751;
}
.sidenav:hover {
    background-color: #e4d5cf;
}

.sidenav a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.sidenav a:hover,
.sidenav .active,
.sidenav li:hover > a {
    background: rgba(255, 255, 255, 0.2)    
}

.sidenav .dropdown ul {
    display: block;
    position: absolute;
    left: 10px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.sidenav .dropdown ul li {
    min-width: 200px;
}

.sidenav .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #2f4d5a;
}

.sidenav .dropdown ul a i {
    font-size: 12px;
}

.sidenav .dropdown ul a:hover,
.sidenav .dropdown ul .active:hover,
.sidenav .dropdown ul li:hover > a {
    color: #67b0d1;
}

.sidenav .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.sidenav .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.sidenav .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1400px) {
    #nav_li li {
        padding: 10px 0px 6px 13px;
        letter-spacing: .5px;
    }
    .sidenav a {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    #nav_li li {
        padding: 25px 0px 6px 13px;
        letter-spacing: .5px;
    }
    .nav-link {
        padding: 0.5rem 0rem;
        }
    .sidenav a {
        font-size: 28px;
    }
}

@media (max-width: 575px) {
    #nav_li li {
    padding: 5px 0px 6px 0px;
}
    .sidenav {
    width: 47px;
    margin-left: -10px;
}
    .sidenav ul {
    margin-top: 5px;
}
.sidenav a {
    font-size: 24px;
}

    .logo_icon .img-fluid {
    height: 40px;
    width: 40px;
    margin-left: 7px;
}
    .nav-link {
    padding: 0.5rem 0rem;
    }
}
@media (min-width: 375px) {
    .sidenav a {
        font-size: 18px;
    }
}
